<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p>
    A continuación se listarán todos los usuarios que existen.<br>
    Para cambiar un nombre basta con hacer clic sobre él y modificarlo. Los cambios se guardarán automáticamente.
</p>

<p-table [value]="clientes" [lazy]="true" (onLazyLoad)="cargarClientes($event)" [paginator]="true" [rows]="5" [totalRecords]="cantidadClientes" >

    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Saldo</th>
            <th>Activo</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
        <tr>
            <td class="toCenter">
                <input [(ngModel)]="cliente.clienteNombre" (change)="cambiarNombre(cliente.clienteId, cliente.clienteNombre)" type="text" pInputText placeholder="Nombre">         
            </td>
            <td>{{cliente.clienteSaldo}}</td>
            <td>
                <ng-template [ngIf]="cliente.clienteActivo==1">
                    <span class="azul">Activo</span>
                </ng-template>
                <ng-template [ngIf]="cliente.clienteActivo!=1">
                    <span class="rojo">No Activo</span>
                </ng-template>
            </td>
        </tr>
    </ng-template>
</p-table>