/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.toCenter {
    text-align:center;
}

input {
    height: 30px;
}

.mainBody {
    margin-right: 50px;
    margin-left: 50px;
}

.abstract {
    margin-top: 15px;
    margin-bottom: 15px;
}

.margenInput {
    margin-right: 15px;
}

.rojo {
    color: red;
}

.azul {
    color: blue;
}