
<p-dialog [(header)]="tituloModal" [(visible)]="display" [modal]="true" [positionTop]="100">
    <input [(ngModel)]="SalgoPorAgregar" type="text" pInputText placeholder="Ingrese cantidad" class="margenInput">         
    <p-button label="Agregar Saldo" (click)="agregarSaldo(idCliente)"></p-button>
</p-dialog>

<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p>
    A continuación se listarán todos los usuarios activos que existen. Puedes agregar saldo en uno de ellos haciendo clic en el botón Agregar y especificando el saldo a agregar.    
</p>



<p-table [value]="clientes" [lazy]="true" (onLazyLoad)="cargarClientes($event)" [paginator]="true" [rows]="5" [totalRecords]="cantidadClientes" >

    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Saldo</th>
            <th>Agregar Saldo</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
        <tr>
            <td>{{cliente.clienteNombre}}</td>
            <td>{{cliente.clienteSaldo}}</td>
            <td class="toCenter">
                <p-button label="Agregar" (click)="abrirModalsaldo(cliente.clienteId, cliente.clienteNombre, cliente.clienteSaldo)" ></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>