
<div class="mainBody">
    <app-menu></app-menu>
    <router-outlet></router-outlet>
</div>


<!--div class="ui-g">
    <div class="ui-g-3"><app-menu></app-menu></div>
    <div class="ui-g-9"></div>
</div-->