<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p>
    Para comprar un producto primero selecciona el usuario que va a comprar. En caso de que en una versión posterior de la página se pueda ingresar mediante nombre d eusuario y contraseña este paso no será necesario.
</p>

<p-dropdown [options]="clientes" [(ngModel)]="clienteEscogido" optionLabel="clienteNombre" placeholder="Seleccione un usuario"></p-dropdown>

<ng-template [ngIf]="clienteEscogido.clienteNombre!=''">
    <p>
        Hola {{clienteEscogido.clienteNombre}}, tu saldo actual es de {{clienteEscogido.clienteSaldo}} pesos.
    </p>
</ng-template>

<p>A continuación se listarán todos los productos que existen. Para comprar uno debes seleccionar un usuarioy hacer clic en comprar.<br>
Si el precio de compra de un producto es mayor a tu saldo no podrás comprar dicho producto.</p>

<p-table [value]="productos" [lazy]="true" (onLazyLoad)="cargarProductos($event)" [paginator]="true" [rows]="5" [totalRecords]="cantidadProductos" >

    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Comprar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-producto>
        <tr>
            <td>{{producto.productoNombre}}</td>
            <td>{{producto.productoPrecio}}</td>
            <td class="toCenter">
                <ng-template [ngIf]="clienteEscogido.clienteSaldo>=producto.productoPrecio">
                    <p-button label="Comprar" (click)="comprar(clienteEscogido.clienteId, producto.productoId)" ></p-button>
                </ng-template>
            </td>
        </tr>
    </ng-template>
</p-table>