<p>
    A continuación se listarán todas las compras realizadas. Esto incluye también las recargas de saldo.
</p>

<p-table [value]="historicos" [lazy]="true" (onLazyLoad)="cargarHistorial($event)" [paginator]="true" [rows]="10" [totalRecords]="cantidadHistoricos" >

    <ng-template pTemplate="header">
        <tr>
            <th>Cliente</th>
            <th>Descripción</th>
            <th>Compras</th>
            <th>Recargas</th>
            <th>Fecha</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-historico>
        <tr>
            <td>{{historico.clienteNombre}}</td>
            <td>
                <ng-template [ngIf]="historico.productoNombre!=NULL">
                    {{historico.productoNombre}}
                </ng-template>
                <ng-template [ngIf]="historico.productoNombre==NULL">
                    Recarga
                </ng-template>
                
            </td>
            <td>
                <ng-template [ngIf]="historico.productoPrecio!=0">
                    {{historico.productoPrecio}}
                </ng-template>
            </td>
            <td>
                <ng-template [ngIf]="historico.compraRecarga!=0">
                    {{historico.compraRecarga}}
                </ng-template>
            </td>
            <td>{{historico.compraFecha}}</td>
        </tr>
    </ng-template>
</p-table>